.form {
  width: max-content;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 2px solid #00008b;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.formTitle {
  font-size: 14px;
  color: #00008b;
}

.formInput {
  width: 200px;
  border: 2px solid #00008b;
  color: #00008b;
  border-radius: 8px;
  outline: transparent;
  background-color: transparent;
  padding: 8px;
  transition: border-color 300ms ease;
}

.formInput::placeholder {
  font-size: 12px;
}

.formInput:focus {
  border-color: #00008b;
}

.errorMassage {
  color: #e02e2e;
}

.formBtn {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #00008b;
  -webkit-box-shadow: 0px 0px 17px -3px #00008b;
  -moz-box-shadow: 0px 0px 17px -3px #00008b;
  box-shadow: 0px 0px 17px -3px #00008b;
  border-radius: 10px;
  background-color: #b0e0e6;
  color: #00008b;
  font-size: 14px;
  text-transform: uppercase;
  padding: 12px;
  margin: 0 auto;
  margin-top: 20px;
  transition: border-color 300ms ease, color 300ms ease;
}

.formBtn:hover,
.formBtn:focus {
  background-color: #b0e0e6;
  border-color: #00008b;
}
